@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap";

:root {
    --rocketseat-color: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#f0f0f0;
}

header .links {
    background-color: var(--rocketseat-color);
    padding: 24px;
}

header .links a {
    color: #FFF;
    
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
    margin-left: 48px;
}

header .links a:hover {
    color: #f0f0f0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

div.container {
    width: 70%;
    margin: 48px auto 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container .image__content img {
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.6);
}

.container .image__content img:hover {
    border-color: #5bc95b;
    transition: border-color 300ms;
}

.container .image__content h1 {
    font-size: 48px;    
    line-height: 58px;
    font-weight: bold;
    margin-top: 8px;
}

.container .image__content h2 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 8px;
    font-weight: normal;
    opacity: 0.9
}

.container .list__content ul {
    list-style: none;
    font-size: 20px;
    margin-left: 200px;
}

.container .list__content ul li a {
    font-size: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.container .list__content ul li a:hover {
    color: var(--rocketseat-color);
    transition: color 400ms;
}

.container .list__content .img__left {
    margin-top: 150px;
    margin-left: 150px;
}

.footer .links-footer {
    text-align: center;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 2px solid var(--rocketseat-color);
    padding: 24px;

    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer .links-footer a {
    text-decoration: none;
    color: #FFF;
    padding: 0 48px;
}

.footer .links-footer a:hover {
    color: var(--rocketseat-color);
    transition: color 300ms;
}
.footer .links-footer a span {
    height: 18px;
    width: 18px;
}
