{% extends "layout.njk" %}

{% block head %}


<link rel="stylesheet" href="/styles/courses-page.css">
<link rel="stylesheet" href="/styles/modal.css">
<title>Cursos</title>

{% endblock %}

{% block content %}

<div class="container">
    <div class="page-title">
        <h1>Cursos</h1>
    </div>
    <div class="content-page">

        {% for item in items %}

        <section class="card" id="{{ item.image }}">
            <div class="card-content">
                <h1 class="{{ item.color }}">{{ item.card_number }}</h1>
                <img src="/assets/{{ item.image }}.svg" alt="{{ item.image }}">
                <p>{{ item.description }}</p>
                <div class="card-footer">
                    <h3>Módulos: {{ item.modules }}</h3>
                    <a class="price {{ item.color }}">{{ item.price }}</a>
                </div>
            </div>
            {{ item.vacancy }}
        </section>

        {% endfor %}

    </div>
</div>

<div class="modal-overlay">
    <div class="modal">
        <div class="modal-content">
            <a class="close-modal">
                <i class="material-icons">cancel</i>
            </a>
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>
<script src="script.js"></script>

{% endblock %}