{% extends "layout.njk" %}

{% block content %}

<section class="home">

    <div class="rocketseat-image">
        <img src="{{ about.img_url }}" alt="{{ about.company }}">

        <h1>{{ about.company }}</h1>
        <h2>{{ about.description }}</h2>

        <div class="social">

            {% for link in about.links %}

                <a href="{{ link.url }}" target="_blank">
                    <img src="{{ link.img }}"/>
                </a>

            {% endfor %}

        </div>
    </div>

    <div class="technologies">
        <div class="list">

            <ul>
                <li>
                    <h2>Tecnologias 🚀</h2>
                </li>

                {% for technology in about.technologies %}
                    <li>
                        <a href="{{ technology.url }}" target="_blank">{{ technology.name }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

        <img src="/assets/{{ about.list_img }}.svg" alt="{{ about.list_img }}">

    </div>

</section>



{% endblock %}