{% extends "layout.njk"%}

{% block head %}
    <link rel="stylesheet" href="/styles/not-found.css">
{% endblock %}

{% block content %} 

<div class="container-404">
    <h1>Erro 404 Página não encontrada</h1>

    <img src="/assets/danger.jpg" alt="Danger">
</div>

{% endblock %}