* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #131417;
}
header .links {
    background-color: #DBEDFF;
    padding: 30px;
    text-align: center;
}
header .links a {
    color: #131417;

    font-size: 18px;
    line-height: 28px;

    text-decoration: none;

    margin: 0 30px;
}
header .links a:hover {
    color: #0073BA;
}
