.container {
    background-image: url(/2-3/assets/background.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
}

.purple {
    color: var(--rocketseat-color);
}

.orange {
    color: var(--orange);
}

.green {
    color: var(--green);
}

.page-title {
    text-align: center;
    margin-top: 48px;
    color: var(--white);
}

.page-title h1 {
    font-size: 48px;
    text-shadow: 2px 2px var(--rocketseat-color);
}

.content-page {
    width: 80%;
    margin: 48px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

section.card {
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 54px;
}

section#starter:hover {
    border: 2px solid var(--rocketseat-color);
}

section#launchbase:hover {
    border: 2px solid var(--orange);
}

section#gostack:hover {
    border: 2px solid var(--green);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content .card-image {
    width: 90%;
    margin: 24px auto;
}

.card-content h1 {
    margin-bottom: 90px;
}

.card-content p {
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
    margin-top: 36px;
    text-align: center;
    width: 90%;
    height: 48px;
}

.card a {
    text-decoration: none;
    color: #0E0D11;
}

.card a p {
    margin-top: 24px;
    font-size: 15px;
    background-color: var(--green);
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}

.card a p:hover {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--green);
    transition: 200ms;
}

.card .card-content .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
}

.card .card-content .card-footer h3 {
    color: var(--white);
    margin-right: 50px;
}

.card .card-content .card-footer a {
    color: var(--white);
    background-color: var(--rocketseat-color);
    padding: 8px 36px;
    border-radius: 4px;
    text-shadow: 1px 1px #0E0D11;
}

.card#launchbase .card-content .card-footer a {
    background-color: var(--orange);
}

.card#gostack .card-content .card-footer a {
    background-color: var(--green);
}
