/* COLORS CLASS */

.purple {
  color: var(--purple);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

/* PAGE TITLE */

.page-title {
  text-align: center;
}

.page-title h1 {
  color: #efefef;
  font-size: 48px;
  text-shadow: 1px 1px var(--purple);
}

/* COURSES */

.courses {
  margin: 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/* CARDS */

.card {
  max-width: 450px;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 56px;
}

#Starter:hover {
  border: 2px solid var(--purple);
}

#Launchbase:hover {
  border: 2px solid var(--orange);
}

#Gostack:hover {
  border: 2px solid var(--green);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content h1 {
  margin-bottom: 80px;
}

.card-content .card-image {
  width: 90%;
  margin: 24px auto;
}

.card-content p {
  width: 90%;
  height: 48px;
  color: #ccc;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: 36px;
}

.card a {
  color: #0e0d11;
}

.card a p {
  background-color: var(--green);
  font-size: 15px;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  margin-top: 24px;
}

#Gostack p {
  width: 100%;
}

.card a p:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--green);
  transition: 200ms;
}

.card .card-content .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
}

.card .card-content .card-footer h3 {
  color: #fff;
  margin-right: 48px;
}

.card .card-content .card-footer a {
  color: #fff;
  background-color: var(--purple);
  padding: 8px 36px;
  border-radius: 4px;
  text-shadow: 1px 1px #0e0d11;
}

.card#Launchbase .card-content .card-footer a {
  background-color: var(--orange);
}

.card#Gostack .card-content .card-footer a {
  background-color: var(--green);
}

/* =========  /:id =========*/

.course {
  grid-template-columns: 1fr 1fr;
}

.course-description p {
  font-size: 18px;
  color: #fff;
  background-color: #0e0d11;
  width: 450px;
  margin-left: 25%;
  border: 2px solid var(--purple);
  border-radius: 15px;
  padding: 10.5%;
}
