@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap";

:root {
  --purple: #7159c1;
  --green: #04d361;
  --orange: #fd951f;
  --trofeu: #ffcc4d;
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-image: url(/assets/Background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */

header .links {
  background-color: var(--purple);
  padding: 24px 0;
}

header .links a {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-left: 48px;
}

header .links a:hover {
  color: #f0f0f0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

/* CONTAINER */

.container {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 48px auto;
}

/* HOME CONTAINER */

.home {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

/* BIG IMAGE */

.rocketseat-image {
  text-align: center;
}

.rocketseat-image img {
  border-radius: 50%;
  box-shadow: 2px 2px 2px -2px #fff;
}

.rocketseat-image h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px var(--purple);
  margin-top: 8px;
}

.rocketseat-image h2 {
  color: var(--purple);
  font-size: 20px;
  line-height: 26px;
  opacity: 0.9;
  margin-top: 8px;
}

/* SOCIAL */

.social {
  margin: 24px auto 0;
}

.social img {
  width: 56px;
  height: 56px;
}

/* CARD LIST */

.technologies {
  background-color: var(--purple);
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.technologies h2 {
  letter-spacing: 0.7px;
  text-shadow: 1px 1px #ccc;
  margin-bottom: 8px;
}

.technologies .list ul li a {
  font-size: 18px;
  line-height: 28px;
  color: var(--trofeu);
}

.technologies .list ul li a:hover {
  color: #efefef;
  transition: 200ms;
}

.technologies img {
  margin-top: 24px;
}

/* FOOTER */

footer {
  margin-top: auto;
}

footer div {
  text-align: center;
}

footer div p {
  color: #efefef;
  font-size: 16px;
  line-height: 26px;
}
