@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
}

.container-404 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
}

.container-404 h1 {
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    color: var(--purple);
    text-shadow: 2px 2px #000;
}

.container-404 img {
    margin-top: 18px;
    position: relative;
    width: 500px;
    height: 440px;
    border-radius: 15px;
}
